<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Simple Mailer</title>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                 <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/send">
                    Send
                </a>
                <a class="navbar-item" href="/add">
                    Add Class
                </a>
                <a class="navbar-item" href="/edit">
                    Edit Class
                </a>
                <a class="navbar-item" href="/log">
                    Logs
                </a>
            </div>
        </div>
    </nav>
    {{{body}}}
</body>
</html>