<!-- Forms -->
<div class="container">
    <div class="block">
        <form action="/add" method="POST">
            <div class="field">
                <label class="label">수업</label>
                <input type="text" name="name" class="input is-primary" placeholder="Class">
            </div>

            <div class="field">
                <label class="label">이메일</label>
                <p class="control has-icons-left">
                    <input class="input" type="email" name="email" placeholder="Email">
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>

            <div class="field">
                <input type="submit" value="추가" class="button is-primary">
            </div>

        </form>
    </div>
</div>
